.tile {
    background-color: #ffffff;
    margin: 10px 0;
}
.tile:before {
    height: 4em;
    background-image: url("../img/faq_box_icon_top.svg");
    #background-color: #ffffff;
}

.tile:after {
    height: 4em;
    background-image: url("../img/faq_box_icon_bottom.svg");
    background-color: #ffffff;
}

.tile-icon {
    text-align: center;
}

.tile-header {
    color: #D65B12;
    padding: 5%;
    text-align: center;
}

.tile-text {
    color: #D65B12;
    padding: 5%;
    text-align: left;
}

.tile-text a {
    color: #D65B12;
    text-decoration: underline;
}

.tile-icon .fa-circle {
    color: #D65B12;
}

